<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salle.android.sallefy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name=" android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application

        android:icon="@drawable/ic_sallefy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sallefy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:allowBackup="false">

        <activity android:name=".controller.activities.AddSongsToPlaylistActivity"/>
        <activity android:name=".controller.activities.StatisticsActivity" />
        <activity
            android:name=".controller.activities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".controller.activities.MusicPlayerActivity" />

        <service
            android:name=".controller.music.MusicService"
            android:exported="false"
            android:stopWithTask="false" />

        <activity android:name=".controller.activities.AddToPlaylistActivity" />
        <activity android:name=".controller.activities.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".controller.activities.SignUpActivity" />
        <activity android:name=".controller.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activities.EditPlaylistActivity" />
        <activity android:name=".controller.activities.NewPlaylistActivity" />
        <activity android:name=".controller.activities.UploadSongActivity" />
        <activity android:name=".controller.activities.EditSongActivity" />
        <activity android:name=".controller.activities.PlaylistActivity" />
        <receiver android:name=".controller.notifications.NotificationReceiver"/>
    </application>

</manifest>