<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salle.android.sallefy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name=" android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_sallefy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_sallefy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <service
            android:name=".controller.music.MusicService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".controller.activities.AddToPlaylist"/>
        <activity android:name=".controller.activities.MainActivity" />
        <activity android:name=".controller.activities.SignUpActivity" />
        <activity android:name=".controller.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.activities.EditPlaylistActivity" />
        <activity android:name=".controller.activities.NewPlaylistActivity" />
    </application>

</manifest>